*{
    font-size: 7px;
    
}

.portfolio{
    height: 100%;
    background-image: linear-gradient(to bottom right, aqua, white);
}


.intro{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    color: ;
  }
  
  .intro img{
    margin-right: 20%;
    margin-left: 20%;
  }

  .intro p{
    text-align: center;
    margin-top: 10%;
    font-size: 70%;
     
  }

  .projectLinks{
    display: flex;
    justify-content: center;
  }

  .projectLinks a{
    margin-left: 10%;
    margin-right:10% ;
  }

  .projectDes{
    display: flex;
    justify-content: center;
  }

  .projectDes p{
    margin-left: 13%;
    margin-right: 13%;
  }

  footer{
    display: flex;
    justify-content:center;
    margin-top: 4%;
  }

  footer a{
    margin-right: 10%;
    margin-left: 10%;
  }